*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
.box {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    background: red;
    animation-name: box;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
  } 
@keyframes box {
    from{
        left: 0;  
    }
    
    to {
        left: 90%;
    }
}  
.box2 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 90%;
    top: 120px;
    background: red;
    animation-name: box2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}
@keyframes box2 {
    from{
        left: 90%;
    }
    
    to {
        left: 0;
    }
}
.box3 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 240px;
    left: 0;
    background: red;
    animation-name: box3;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 7s;
}  
@keyframes box3 {
    from{
        left: 0;
    }
    to {
        left: 90%;
    }
}
.box4 {
    width: 100px;
    height: 100px;
    position: absolute;
    background: red;
    left: 90%;
    top: 360px;
    animation-name: box4;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 9s;
}  
  @keyframes box4 {
    from{
        left: 90%;
    }
    to {
        left: 0;
    }
}
.box5 {
    width: 100px;
    height: 100px;
    position: absolute;
    background: red;
    top: 480px;
    left: 0;
    animation-name: box5;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 11s;
} 
@keyframes box5 {
    from{
        left: 0;
    }
    to {
        left: 90%;
    }
}
.box6 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 90%;
    top: 600px;
    background: red;
    animation-name: box6;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 13s;
} 
@keyframes box6 {
    from{
        left: 90%;
    }
    to {
        left: 0;
    }
  }
  